/* *section {
  height: 60vh;
  margin: 30px;
} */
.header-container {
  position: sticky;
  top: 0;
}
.nav-link {
  margin: 0 45px;
  padding: 20px;
}
.section3 .picture {
  height: 260px;
}
/* .card {
  height: 280px;
} */
.section1 {
  padding: 50px 0;
}
.section3 .card {
  width: 550px;
  height: 380px;
  margin: 10px;
}
@media screen and (min-width: 500px) {
  .card {
    height: 270px;
  }
}
